@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Dyslexic";
  src: url("../assets/fonts/OpenDyslexic3-Regular.ttf");
}

* {
  font-family: "Open Dyslexic", sans-serif;
}
